<!-- Counter -->
<div class="theme-counter">
    <main id="counter">
        <div class="container title text-center">
            <h5>COMPANY SUCCESS</h5>
            <h1 class="text-center mb-2">Some Quick Company Facts</h1>
        </div>

        <div id="counters_1" class="row">

            <div class="col-6 col-lg-3">
                <div class="cont">
                    <div class="row">
                        <div class="counter" data-TargetNum="1200" data-Speed="5000">0</div>
                        <p class="sign">+</p>
                    </div>
                    <div class="row">
                        <div class="text">
                            Group of Clients
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-6 col-lg-3">
                <div class="cont">
                    <div class="row">
                        <div class="counter" data-TargetNum="6" data-Speed="5000">0</div>
                        <p class="sign"></p>
                    </div>
                    <div class="row">
                        <div class="text">
                            Branches
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3 counter-box">
                <div class="cont">
                    <div class="row">
                        <div class="counter" data-TargetNum="100" data-Speed="5000">0</div>
                        <p class="sign">+</p>
                    </div>
                    <div class="row">
                        <div class="text">
                            years of Combined Accounting Experience
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3 counter-box">
                <div class="cont">
                    <div class="row">
                        <div class="counter" data-TargetNum="5000" data-Speed="5000">0</div>
                        <p class="sign">+</p>
                    </div>
                    <div class="row">
                        <div class="text">
                            Returns filed during the year
                        </div>
                    </div>
                </div>
            </div>







        </div>





    </main>
</div>
<div class="counter">
    <div class="counter_background" style="background-image:url(../../../assets/images/counter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="counter_content">
                    <h2 class="counter_title">Register Now</h2>
                    <div class="counter_text">
                        <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry’s standard dumy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book.</p>
                    </div>

                    <!-- Milestones -->

                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-TargetNum="6" data-Speed="5000" data-end-value="15">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-TargetNum="6" data-Speed="5000" data-end-value="120" data-sign-after="k">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-TargetNum="6" data-Speed="5000" data-end-value="670" data-sign-after="+">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-TargetNum="6" data-Speed="5000" data-end-value="320">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="counter_form">
            <div class="row fill_height">
                <div class="col fill_height">
                    <form class="counter_form_content d-flex flex-column align-items-center justify-content-center"
                        action="#">
                        <div class="counter_form_title">courses now</div>
                        <input type="text" class="counter_input" placeholder="Your Name:" required="required">
                        <input type="tel" class="counter_input" placeholder="Phone:" required="required">
                        <select name="counter_select" id="counter_select" class="counter_input counter_options">
                            <option>Choose Subject</option>
                            <option>Subject</option>
                            <option>Subject</option>
                            <option>Subject</option>
                        </select>
                        <textarea class="counter_input counter_text_input" placeholder="Message:"
                            required="required"></textarea>
                        <button type="submit" class="counter_form_button">submit now</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>