
<div class="counter">
    <div class="counter_background" style="background-image:url(../../../assets/images/counter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="counter_content">
                    <h2 class="counter_title">Enquiry</h2>
                    <div class="counter_text">
                        <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry’s standard dumy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book.</p>
                    </div>

                    <!-- Milestones -->

                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between" id="counters_1">

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="counter" data-TargetNum="300" data-Speed="7000">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="counter" data-TargetNum="60" data-Speed="7000" data-sign-after="k">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="counter" data-TargetNum="180" data-Speed="7000" data-sign-after="+">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="counter" data-TargetNum="800" data-Speed="7000" data-end-value="320">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-5 offset-md-2 offset-sm-0  offset-lg-1 col-md-4 col-12 col-sm-12">
                        <div class="counter_form w-100">
                            <div class="row fill_height">
                                <div class="col fill_height">
                                    <form [formGroup]="enquiryRequestform"
                                        class="counter_form_content d-flex flex-column align-items-center justify-content-center"
                                        (ngSubmit)="onSubmit(enquiryRequestform.value)" novalidate>
                                        <div class="counter_form_title">Enquiry</div>
                                        <input formControlName="name" type="text" class="counter_input" placeholder="Your Name:"
                                            required="required">
                                        <input formControlName="phone" type="tel" class="counter_input" placeholder="Phone:"
                                            required="required">
                                        <select [(ngModel)]="course_title" formControlName="course_title" (change)="getCoursesFilter($event)"
                                            name="counter_select" id="counter_select" class="counter_input counter_options">
                                            <option selected value="">Select Course</option>
                                            <option [ngValue]="course.course_title" *ngFor='let course of courses'>{{course.course_title}}
                                            </option>
                                        </select>
                                        <textarea formControlName="message" class="counter_input counter_text_input" placeholder="Message:"
                                            required="required"></textarea>
                                        <button type="submit" class="counter_form_button">submit now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
        </div>



    </div>
</div>