<!-- Popular Courses -->

<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll"
        data-image-src="../../../assets/images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Popular Online Courses</h2>
                    <div class="section_subtitle">
                        <p>MEDIJEE Classes are unique from other institutes because of its immense focus on the quality of academic delivery and
                        its pedagogy mastered over more multiple years.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row courses_row">
            <!-- Course -->
            <div class="col-lg-4 mb-3 course_col" *ngFor='let course of courses'>
                <div class="course" (click)='getCourseDetail(course)'> 
                    <div class="course_image">
                        <!-- <img src="../../../assets/images/course_1.jpg" alt=""> -->
                    
                        <img src="../../../assets/images/course_1.jpg" alt="" *ngIf="course.picture == null">
                        <img [src]="course.full_path_picture" alt="" *ngIf="course.picture != null">
                    </div>
                    <div class="px-0 course_body py-1">
                        <div class="row">
                            <div class="course-body-title col-12">
                                <div class="row">
                                    <div class="col">
                                        <h3 class=" px-3 course_title align-item-center"><a>{{course.course_title}}</a></h3>
                                    </div>
                                </div>
                                <div class="px-3 course_teacher">Mr. John Taylor</div>
                                <div *ngIf='!course.summary || course.summary=="NULL"' class="px-3 course_text">
                                    <p>{{summary | slice:0:80 }}..</p>
                                </div>
                                <div *ngIf='course.summary && course.summary!="NULL"' class="px-3 course_text">
                                    <p>{{ course.summary | slice:0:80 }}..</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a routerLink='/courses'>view all courses</a></div>
            </div>
        </div>
    </div>
</div>
