<!-- Home -->

<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="courses.html">Courses</a></li>
                            <li>Course Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Course -->

<div class="course">
    <div class="container">
        <div class="row w-100 m-auto">

            <!-- Course -->
            <div class="col-md-8 col-12">

                <div class="course_container">
                    <div class="course_title">{{course.course_title}}</div>
<!--                     <div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                        <div class="course_info_item">
                            <div class="course_info_title">Course:</div>
                            <div class="course_info_text ml-2 ml-md-0"><a href="#"> {{product.course_name}} </a></div>
                        </div>
                        
                        <div class="course_info_item">
                            <div class="course_info_title">Categories:</div>
                            <div class="course_info_text ml-2 ml-md-0"><a href="#"> {{product.display_asset}}</a></div>
                        </div>


                    </div> -->

                    <!-- Course Image -->
                    <div class="course_image">
                        <img height="100%" src="../../../assets/images/course_1.jpg" alt="" *ngIf="course.picture == null">
                        <img [src]="DownloadImage +''+ course.picture" alt="" *ngIf="course.picture != null">
    
                    </div>
                   
                    <!-- Course Tabs --> 
                    <div class="course_tabs_container">
                        <div class="tabs d-flex flex-row align-items-center justify-content-start">
                            <!-- <div class="tab active">description</div>
                            <div class="tab">curriculum</div>
                            <div class="tab">reviews</div> -->
                        </div>
                        <div class="tab_panels">
                            <p>{{ course.summary}}</p>
                            <!-- Description -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course Sidebar -->
            <div class="col-md-4 col-12">
                <div class="sidebar">

                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Course Feature</div>
                        <div class="sidebar_feature">
                            <div class="course_price"><small style="color: black; font-size:12px; opacity:.3;">Course Price:</small> ₹ {{ course_price }}/-</div>
                            <div class="course_price"><small style="color: black; font-size:12px;">Course First Payment:</small> ₹ {{ course_first_pay }}/-</div>
                            <div class="course_price"><small style="color: black; font-size:12px;opacity:.3;">Course Remaining Amount:</small> ₹ {{ course_remaining_price }}/-</div>

                            <!-- Features -->
                            <div class="feature_list">

                                <div class="feature p-0 d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title mt-0"><i class="far fa-clock"></i><span>Duration:</span></div>
                                    <div class="feature_text ml-auto">2 weeks</div>
                                </div>

                                <div class="feature d-flex flex-row p-0 align-items-center justify-content-start">
                                    <div class="feature_title mt-0"><i class="far fa-file-alt"></i><span>Lectures:</span></div>
                                    <div class="feature_text ml-auto">10</div>
                                </div>

                                <div class="feature d-flex flex-row p-0 align-items-center justify-content-start">
                                    <div class="feature_title mt-0"><i class="far fa-question-circle"></i><span>Lectures:</span></div>
                                    <div class="feature_text ml-auto">6</div>
                                </div>

                                <div class="feature d-flex flex-row p-0 align-items-center justify-content-start">
                                    <div class="feature_title mt-0"><i class="fa fa-list-alt"
                                            aria-hidden="true"></i><span>Lectures:</span></div>
                                    <div class="feature_text ml-auto">Yes</div>
                                </div>
                                <div class="feature d-flex flex-row p-0 align-items-center justify-content-center">
                                    <div class="feature_title mt-0 pt-0 cart-button my-2 ">
                                        <!-- <ion-row class="w-100" class="bottom-tabs"> -->
                                            <!-- <ion-col> -->
                                                <button type="submit" class="comment_button trans_200" (click)="addItemInCart(product)" *ngIf="!checkItemStatusInCart(product)">ADD TO BAG</button>
                                                <button type="submit" class="comment_button trans_200" (click)="goToCart(product)" *ngIf="checkItemStatusInCart(product)">GO TO BAG</button>
                                                <!-- <ion-button class="regular-button w-100" (click)="addItemInCart(product)" *ngIf="!checkItemStatusInCart(product)">ADD TO BAG</ion-button>
                                                <ion-button class="regular-button w-100" (click)="goToCart(product)" *ngIf="checkItemStatusInCart(product)">GO TO BAG</ion-button> -->
                                            <!-- </ion-col> -->
                                            <!-- <ion-col>
                                                <ion-button class="regular-button w-100" (click)="goEnquiry()">ENQUIRY</ion-button>
                                            </ion-col> -->
                                        <!-- </ion-row> -->
                                    </div>
                                    <!-- <div class="feature_text ml-auto">35</div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Latest Course -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Latest Courses</div>
                        <div class="sidebar_latest">

                            
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image">
                                    <div><img src="../../../assets/images/latest_1.jpg" alt=""></div>
                                </div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="course.html">How to Design a Logo a Beginners
                                            Course</a></div>
                                    <div class="latest_price">Free</div>
                                </div>
                            </div>

                            
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image">
                                    <div><img src="../../../assets/images/latest_2.jpg" alt=""></div>
                                </div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="course.html">Photography for Beginners
                                            Masterclass</a></div>
                                    <div class="latest_price">$170</div>
                                </div>
                            </div>

                            
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image">
                                    <div><img src="../../../assets/images/latest_3.jpg" alt=""></div>
                                </div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="course.html">The Secrets of Body Language</a>
                                    </div>
                                    <div class="latest_price">$220</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter mt-lg-5">
    <div class="newsletter_background" style="background-image:url(../../../assets/images/newsletter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div
                    class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

                    <div class="newsletter_content text-lg-left text-center">
                        <div class="newsletter_title">sign up for news and offers</div>
                        <div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer
                        </div>
                    </div>

                    <div class="newsletter_form_container ml-lg-auto">
                        <form action="#" id="newsletter_form"
                            class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                            <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                            <button type="submit" class="newsletter_button">subscribe</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>