/*********************************
7. Course
*********************************/

.course {
  width: 100%;
  padding-top: 57px;
  padding-bottom: 100px;
  background: #ffffff;
}
.course_container {
  width: 100%;
}
.course_title {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: 700;
  color: #384158;
}
.course_info {
  width: 100%;
  height: 92px;
  margin-top: 30px;
  background: #f2f4f5;
}
.course_info_item {
  width: 50%;
  padding-left: 30px;
}
.course_info_item:not(:last-child)::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #d9dbdc;
  content: "";
}
.course_info_title {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 700;
  color: #384158;
}
.course_info_text {
  margin-top: 8px;
}
.course_info_text a {
  font-size: 14px;
  color: #384158;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.course_info_text a:hover {
  color: #14bdee;
}
div.accordion {
  margin-bottom: 0% !important;
}
.rating_r {
  margin-top: 7px;
}
.rating_r i::before {
  font-family: "FontAwesome";
  content: "\f006";
  font-style: normal;
  font-size: 14px;
  margin-right: 4px;
  color: #14bdee;
}
.rating_r_1 i:first-child::before {
  content: "\f005";
}
.rating_r_2 i:first-child::before {
  content: "\f005";
}
.rating_r_2 i:nth-child(2)::before {
  content: "\f005";
}
.rating_r_3 i:first-child::before {
  content: "\f005";
}
.rating_r_3 i:nth-child(2)::before {
  content: "\f005";
}
.rating_r_3 i:nth-child(3)::before {
  content: "\f005";
}
.rating_r_4 i:first-child::before {
  content: "\f005";
}
.rating_r_4 i:nth-child(2)::before {
  content: "\f005";
}
.rating_r_4 i:nth-child(3)::before {
  content: "\f005";
}
.rating_r_4 i:nth-child(4)::before {
  content: "\f005";
}
.rating_r_5 i:first-child::before {
  content: "\f005";
}
.rating_r_5 i:nth-child(2)::before {
  content: "\f005";
}
.rating_r_5 i:nth-child(3)::before {
  content: "\f005";
}
.rating_r_5 i:nth-child(4)::before {
  content: "\f005";
}
.rating_r_5 i:nth-child(5)::before {
  content: "\f005";
}
.course_image {
  margin-top: 21px;
  width: 100%;
}
.course_image img {
  max-width: 100%;
}
.course_tabs_container {
  width: 100%;
  margin-top: 30px;
}

div.feature_title.cart-button {
  padding-left: 0% !important;
}
div.course_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .course_info_item {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .course_info {
    padding: 20px 0px;
  }
  .course_info_text {
    margin-top: 0;
  }
}
