<!-- Home -->
<!-- <div class="body"> -->
<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a routerLink='/home'>Home</a></li>
                            <li>Chairman Message</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About -->

<div class="about">
    <div class="container">
        <div class="row mb-lg-5">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Chairman Message</h2>
                    <div class="section_subtitle ">
                       <strong>“Your dreams are our inspiration and your destination is our goal”.</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row about_row">
                
                    <!-- About Item -->
                    <div class="col-lg-6 about_col about_col_left">
                        <div class="about_item">
                            <div class="about_item_image">
                                <img height="100%" width="100%" src="../../../../assets/images/chairman_new.png" alt=""></div>
                        </div>
                    </div>
                    <div  class="col-lg-6 about_col about_col_left">
                        <h4 class="section_subtitle">
                            DEAR PARENTS,
                        </h4>
                        <p>
                            Education is integral for the growth & development of an individual. The expectation from an educational institute is
                            always about making the society better for all and to bring out one’s True Potential in the service of the mankind.
                        </p>
                        <p>
                            Every moment in life is a fresh beginning, that brings with it the boundless joy of new possibilities. And the pleasure
                            is compounded when you know, you are about to realize a lofty goal.
                        </p>
                        <p>
                            As a parent, you definitely want the best for your child; and we are happy to be working with you to make sure that they
                            are given the true knowledge to face the challenges in their career.
                        </p>
                        <p>
                            The talent and the energy which our students possess need to be nurtured, shaped and channeled in the right direction.
                        </p>
                        <p>
                            I wish all our students a very successful academic year ahead. I am sure the various services that we offer will be
                            a
                            great boon to our students.
                        </p>
                        <h4 class=" mt-lg-5 text-center section-subtitle">WISHING YOU THE VERY BEST</h4>
                    </div>
        </div>

        </div>
</div>

<app-register></app-register>
<app-partner></app-partner>