<!-- ======= About Section ======= -->
<section id="about" class="about" style="margin-top: 0%; z-index: 999;">
    <div class="container">



        <div class="section_title_container text-center">
            <h2 class="section_title">About</h2>
            <div class="section_subtitle">
                <p>‘You were born with wings. Don’t crawl. Learn to use them to fly and fly’.</p>
            </div>
        </div>

        <div class="row contents mt-5" data-aos="fade-up">
            <div class="col-lg-12 mb-3">
                <p class="para">
                    Transforming person to personality!
                </p>
                                <p class="para">
                                    MEDIJEE Classes are unique from other institutes because of its immense focus on the quality of academic
                                    delivery and
                                    its pedagogy mastered over more multiple years. Over the years, Medijee Classes has not only designed,
                                    delivered,
                                    innovated and perfected the art of teaching, but has also guided it's students eventually helping them to
                                    realize their
                                    dream career.
                                
                                </p>
            </div>
           
            <div class="col-lg-6 p-0">
                <img src="https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="img">
            </div>
            <div class="col-lg-6 pl-3 pr-3 mt-3">
                <ul class="Item">
                    <li>
                        Medijee classes strive to assist the students from far flung for the most challenging Engineering entrance exams
                        IIT JEE
                        Mains, JEE Advanced and also for Medical Entrance examination.
                    </li>
                    <li>
                        Medijee institute has played a pioneer role in the J&K market in creating successful Doctors and Engineers
                        who have
                        created a benchmark in medical and engineering field.
                    </li>
                    <li>
                        Every student is entitled to quality education and we are here to fulfill their dream of
                        getting into prestigious IITs, AIMS and other reputed Engineering/Medical
                        colleges within India and globally.
                    </li>
                    <li>
                        MEDIJEE Classes (Franchisee owner Vidyamandir Classes) are pioneers in IAS/IITJEE / MEDICAL/NCERT Test
                        preparation in
                        India, which has over the
                        years, guided thousands of IIT/MEDICAL aspirants.. 
                        <p>
                        <a routerLink='/about' class="btn-learn-more mt-5">Learn More</a>

                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section><!-- End About Section -->