<!-- Features -->

<div class="features pt-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome To MediJee Digital</h2>
                    <div class="section_subtitle">
                        <p>At MediJee we take pride in supporting stakeholders across value chain and ensure render high value for effort and
                        money.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row features_row">

            <!-- Features Item -->
            <div class="col-lg-3 h40 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon h10"><img src="../../../assets/images/stackholders/student-with-laptop-studying-online-course_74855-5293.jpg" alt=""></div>
                    <a routerLink='/stackholder'>
                       <h3 class="feature_title h10">Students</h3>
                    </a>
                    <div class="feature_text h20">
                        <p>Every student is special and we support to bring best out of them!</p>
                    </div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 h40 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon h10"><img  src="../../../assets/images/stackholders/perents.jpg" alt=""></div>
                    <a routerLink='/stackholder'>
                        <h3 class="feature_title h10">Parents</h3>
                    </a>
                    <div class="feature_text h20">
                        <p>We provide regular updates to parents & act as career counselors for best results.</p>
                    </div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col h40">
                <div class="feature text-center trans_400">
                    <div class="feature_icon h10"><img src="../../../assets/images/stackholders/faculty.jpg" alt=""></div>
                    <a routerLink='/stackholder'>
                        <h3 class="feature_title h10">Faculty</h3>
                    </a>
                    <div class="feature_text h20">
                        <p>Our Faculty commitment is top-notch to create global citizens, and not just good students!</p>
                    </div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="h40 col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon h10"><img src="../../../assets/images/stackholders/school.jpg" alt=""></div>
                    <a routerLink='/stackholder'>
                        <h3 class="feature_title h10">Schools & Authorities</h3>
                    </a>
                    <div class="feature_text h20">
                        <p>We work in collaboration for the common goal of churning confident & aware students!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>