<!-- Features -->

<div class="features pt-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome To MediJee Digital</h2>
                    <div class="section_subtitle">
                        <p>At MediJee we take pride in supporting stakeholders across value chain and ensure render high value for effort and
                        money.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row features_row">

            <!-- Features Item -->
            <div class="col-lg-3 h40 feature_col">
                <div class="feature text-center trans_400" (click)="goToStackHolder('Students')">
                    <div class="feature_icon h10"><img src="../../../assets/images/stackholders/fbd24a81-464e-4d38-be6c-83fe8bdf26a5.jpg" alt=""></div>
                    <a>
                       <h3 class="feature_title h10">Students</h3>
                    </a>
                    <div class="feature_text h20">
                        <p>Every student is special and we support to bring best out of them!</p>
                    </div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 h40 feature_col">
                <div class="feature text-center trans_400" (click)="goToStackHolder('Parents')">
                    <div class="feature_icon h10"><img  src="../../../assets/images/stackholders/eea80404-6f31-4c2d-9d60-b712ac0d4c09.jpg" alt=""></div>
                    <a>
                        <h3 class="feature_title h10">Parents</h3>
                    </a>
                    <div class="feature_text h20">
                        <p>We provide regular updates to parents & act as career counselors for best results.</p>
                    </div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col h40">
                <div class="feature text-center trans_400" (click)="goToStackHolder('Faculty')">
                    <div class="feature_icon h10"><img src="../../../assets/images/stackholders/6c2de75e-5ad9-48d6-bfc3-828cef75321d.jpg" alt=""></div>
                    <a>
                        <h3 class="feature_title h10">Faculty</h3>
                    </a>
                    <div class="feature_text h20">
                        <p>Our Faculty commitment is top-notch to create global citizens, and not just good students!</p>
                    </div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="h40 col-lg-3 feature_col">
                <div class="feature text-center trans_400" (click)="goToStackHolder('Schools & Authorities')">
                    <div class="feature_icon h10"><img src="../../../assets/images/stackholders/4cb02bfe-af31-44f9-9931-5d142936ef56.jpg" alt=""></div>
                    <a>
                        <h3 class="feature_title h10">Schools & Authorities</h3>
                    </a>
                    <div class="feature_text h20">
                        <p>We work in collaboration for the common goal of churning confident & aware students!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>