.feature {
  width: 100%;
  padding-top: 93px;
  padding-bottom: 100px;
}

div.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px !important;
  font-weight: 400;
  background: #ffffff;
  color: #a5a5a5;
}

/*********************************
6. Home
*********************************/

.home {
  width: 100%;
  height: 182px;
  background: #f2f4f5;
  border-bottom: solid 1px #edeff0;
}
.breadcrumbs_container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 13px;
  padding-left: 3px;
}
.breadcrumbs ul li {
  display: inline-block;
  position: relative;
}
.breadcrumbs ul li:not(:last-child)::after {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f105";
  margin-left: 7px;
  margin-right: 4px;
  color: #384158;
}
.breadcrumbs ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #384158;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.breadcrumbs ul li a:hover {
  color: #14bdee;
}
.about_row {
  margin-top: 56px;
}
.feature_row {
  margin-top: 72px;
}
.collapse-div div {
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 700;
  color: #384158;
  cursor: pointer;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.accordion_container {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
  padding: 10px 30px;
}


