<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    


    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel" style="margin-bottom: 10%;">
  
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
            <div class="home_slider_content">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <div class="home_slider_title">The Premium System Education</div>
                            <div class="home_slider_subtitle">Future Of Education Technology</div>
                            <!-- <div class="home_slider_form_container">
                                <form action="#" id="home_search_form_1"
                                    class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                    <div class="d-flex flex-row align-items-center justify-content-start">
                                        <input type="search" class="home_search_input" placeholder="Keyword Search"
                                            required="required">
                                        <select class="dropdown_item_select home_search_input">
                                            <option>Category Courses</option>
                                            <option>Category</option>
                                            <option>Category</option>
                                        </select>
                                        <select class="dropdown_item_select home_search_input">
                                            <option>Select Price Type</option>
                                            <option>Price Type</option>
                                            <option>Price Type</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="home_search_button">search</button>
                                </form>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  

  
     <!--  <a class="home_slider_nav carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
  
      <a class="home_slider_nav carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
  
    </div>
    
  
  
</section>