<!-- <div class="flex-me login-container" style="height: 100%; flex-flow: column;">
    <ion-card>

        <ion-card-header class="ion-text-center">
            <ion-card-title><strong>Welcome Back</strong></ion-card-title>
            <ion-card-subtitle><strong>Enter your details to sign in</strong></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" novalidate>

                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input formControlName="username" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input formControlName="password" type="password"></ion-input>
                </ion-item>

                <div class="button-bg mt20">
                    <button expand="full" color="primary">Login</button>
                </div>

            </form>
        </ion-card-content>
    </ion-card>
</div> -->


<form class="mt200" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" novalidate>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>