.page-wrapper {
  margin-top: 150px;
}
/* @media screen and (max-width: 756px) {
  aside.my-account {
    margin-top: 8rem !important;
  }
} */
/* @media (max-width: 768px) { */
ul.my-account {
  margin-top: 8rem !important;
}
/* } */
li:hover {
  cursor: pointer !important;
}
.fs-18 {
  font-size: 18px !important;
}
