<div class="super_container">

    <app-home-slider></app-home-slider>

    <!-- <br> <br> -->

    <app-about-component></app-about-component>

    
    <!-- <a href="#about" class="btn-get-started scrollto" data-toggle="modal"
                data-target="#exampleModal">Subscribe</a> -->


    <app-e-learning></app-e-learning>

    <app-popular-courses></app-popular-courses>




    <app-register></app-register>

    <app-events></app-events>

    <!-- <app-tutors></app-tutors> -->

    <app-news></app-news>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Get Upto 100% scholarships and assured Anti-Covid discounts on admissions on qualifying. To know more
        </h5>
      </div>
      <form [formGroup]="contactForm" (submit)="submitForm(contactForm.value)" novalidate>

      <div class="modal-body">
        <div class="card">
          <div class="card-body">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Name*">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="phone" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Phone Number">
                <small id="emailHelp" class="form-text text-muted">We'll never share your phone number with anyone
                  else.</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="email" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Email*">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
              
              <div class="form-group">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Course</option>
                    <option [value]="course.course_title" *ngFor="let course of courses">{{course.course_title}}</option>
                  </select>
              </div>




             <div class="form-group">
                <textarea class="form-control" formControlName="message" id="exampleInputPassword1"
                  placeholder="Address"></textarea>
            </div>
            
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>