<!-- Home -->

<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a routerLink='/home'>Home</a></li>
                            <li>Courses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Courses -->

<div class="courses pb-0">
    <div class="container">
        <div class="row">

            <!-- Courses Main Content -->
            <div class="col-lg-8">
                <div class="courses_search_container">
                    <div id="courses_search_form"
                        class="courses_search_form d-flex flex-row align-items-center justify-content-start">
                        <div class="row w-100">
                            <div class="col-md-6">
                                <input  type="text" [(ngModel)]="searchText" autocomplete="off" class="courses_search_input w-100" placeholder="Search Courses"
                                    required="required">
                            </div>
                            <div class="col-md-6">
                                <select (change)="filterCourses($event)" [(ngModel)]="searchTextEl" id="courses_search_select"
                                    class="w-100 courses_search_select courses_search_input">
                                    <option value="" selected>All Courses</option>
                                    <option *ngFor='let course of courses.slice(0,5)' [ngValue]="course.course_title">{{course.course_title}}</option>
                                    <!-- <option>Category</option>
                                                            <option>Category</option> -->
                                </select>
                            </div>
                        </div>
                        
                       
                        <!-- <button action="submit" class="courses_search_button ml-auto">search now</button> -->
                    </div>
                </div>
                <div class="courses_container">
                    <div class="row courses_row">


                        <!-- Course -->
                        <div class="col-lg-6 course_col" *ngFor='let course of courses | filter:searchText | filter: searchTextEl'>
                            <div class="course" (click)='getCourseDetail(course)'>
                                <div class="course_image">
                                    <!-- <img src="../../../assets/images/course_4.jpg" alt=""> -->
                                    
                                    <img height="100%" src="../../../assets/images/course_1.jpg" alt="" *ngIf="course.picture == null">
                                    <img [src]="course.full_path_picture" alt="" *ngIf="course.picture != null">
                                </div>
                                <div class="px-0 course_body py-1 ">
                                    <div class="row">
                                        <div class="course-body-title col-12">
                                            <h3 class=" px-3 course_title align-item-center"><a>{{course.course_title}}</a></h3>
                                            <div class="px-3 course_teacher">Mr. John Taylor</div>
                                            <div *ngIf='!course.summary || course.summary=="NULL"' class="px-3 course_text">
                                                <p>{{summary | slice:0:80 }}..</p>
                                            </div>
                                            <div *ngIf='course.summary && course.summary!="NULL"' class="px-3 course_text">
                                                <p>{{ course.summary | slice:0:80 }}..</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="course-enq-detl-btn row justify-content-around">
                                        <div class="col-4 ">
                                            <button class="comment_button trans_200">Enquiry</button>
                                        </div>
                                        <div class=" col-4 px-0">
                                            <button (click)='getCourseDetail(course)' class="comment_button trans_200">Details</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="course_footer">
                                    <div
                                        class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="course_info">
                                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                            <span>20 Student</span>
                                        </div>
                                        <div class="course_info">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <span>5 Ratings</span>
                                        </div>
                                        <div class="course_price ml-auto">₹ 13000/-</div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Courses Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">

                    <!-- Categories -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Courses</div>
                        <div class="sidebar_categories">
                            <ul>
                                <li *ngFor='let course of courses.slice(0,5)'><a (click)='getCourseDetail(course)'>{{ course.course_title }}</a></li>
                                <!-- <li><a href="#">Business</a></li>
                                <li><a href="#">IT & Software</a></li>
                                <li><a href="#">Languages</a></li>
                                <li><a href="#">Programming</a></li> -->
                            </ul>
                        </div>
                    </div>

                    <!-- Banner -->
                    <div class="sidebar_section">
                        <div
                            class="sidebar_banner d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="sidebar_banner_background" style="background-image:url(../../../assets/images/banner_1.jpg)">
                            </div>
                            <div class="sidebar_banner_overlay"></div>
                            <div class="sidebar_banner_content">
                                <div class="banner_title">Download Brochure</div>
                                <div class="banner_button"><a href="#">download now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="newsletter_background" style="background-image:url(../../../assets/images/newsletter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div
                    class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

                    <!-- Newsletter Content -->
                    <div class="newsletter_content text-lg-left text-center">
                        <div class="newsletter_title">sign up for news and offers</div>
                        <div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer
                        </div>
                    </div>

                    <!-- Newsletter Form -->
                    <div class="newsletter_form_container ml-lg-auto">
                        <form action="#" id="newsletter_form"
                            class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                            <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                            <button type="submit" class="newsletter_button">subscribe</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>