<section>
    <div class="container-lg p-0">
        <div class="row justify-content-center">
            <!-- <div class="col-md-8 col-sm-10 col-12"> -->
            <div class="col">
                <div class="products mb-3">

                    <div class="product product-list mb-2" *ngFor="let order of orders.product_details" (click)="gotoProductDetails(order)">

                        <span class="advanced" *ngIf="order.delivery_status != null">{{ order.delivery_status }}</span>


                        <div class="row justify-content-center">
                            <div class="col-4 col-md-2">
                                <figure class="product-media flex-me">
                                    <a>
                                        <img src="https://lettonie.extranet-aec.com/img/empty-cart.png">
                                    </a>
                                </figure>
                            </div>

                            <div class="col-8 col-md-10">
                                <div class="product-body product-action-inner">
                                    <h3 class="pr-4 product-title fs-1"><a>{{ order.product_name }}</a></h3>
                                    <div class="product-content">
                                        <p>{{ order.order_placed_time }}</p>
                                        <h4>
                                            Rs. {{ order.final_price }}
                                        </h4>
                                    </div><!-- End .product-content -->
                                </div><!-- End .product-body -->
                            </div>
                        </div><!-- End .row -->
                    </div><!-- End .product -->

                </div>

            </div>
        </div>
    </div>
</section>