/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.main_nav li a.router-link-active {
  color: #14bdee !important;
}

ol,
ul,
dl {
  margin-bottom: 0;
}
div.breadcrumbs li {
  font-size: 14px !important;
  font-weight: 400;
}

.clickable {
  cursor: pointer;
}

.flex-me {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mb50 {
  margin-bottom: 50px;
}

.flex-me-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.flex-me-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-me-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-vertical {
  display: flex;
  align-items: center;
}
.cSoon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.cSoon h4:hover {
  color: #14bdee;
}

.center-content {
  display: flex;
  text-align: center;
  height: 40vh;
  justify-content: center;
  align-items: center;
}

.center-content i {
  font-size: 30px;
  margin-right: 5px;
  color: #424242 !important;
}
div.page-content ul.nav-dashboard a {
  padding-left: 10px !important;
}
div.page-content ul.nav-dashboard :is(a.active) {
  color: white !important;
  background: #14bdee !important;
}
.pl10 {
  padding-left: 10px !important;
}
