/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.main_nav li a.router-link-active {
  color: #14bdee !important;
}

ol,
ul,
dl {
  margin-bottom: 0;
}
div.breadcrumbs li {
  font-size: 14px !important;
  font-weight: 400;
}
