<!-- Home -->

<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a routerLink='/home'>Home</a></li>
                            <li>Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let blog of blogs">
                <div class="blog_post trans_200" (click)="getBlogDetail(blog)">
                    <div class="blog_post_image h50"><img height="100%" src="{{blog.full_path_banner_image}}" alt=""></div>
                    <div class="blog_post_body">
                        <div class="blog_post_title"><a>
                        {{blog.abstracts}}
                        </a></div>
                        <div class="blog_post_meta">
                            <ul>
                                <li><a href="#">admin</a></li>
                                <li><a href="#">november 11, 2017</a></li>
                            </ul>
                        </div>
                        <div class="blog_post_text">
                            <p>Policy analysts generally agree on a need for reform, but not on which path
                                policymakers should take...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    






















    <!-- Newsletter -->
    
    <div class="newsletter">
        <div class="newsletter_background" style="background-image:url(../../../assets/images/newsletter_background.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div
                        class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">
    
                        <!-- Newsletter Content -->
                        <div class="newsletter_content text-lg-left text-center">
                            <div class="newsletter_title">sign up for news and offers</div>
                            <div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer
                            </div>
                        </div>
    
                        <!-- Newsletter Form -->
                        <div class="newsletter_form_container ml-lg-auto">
                            <form action="#" id="newsletter_form"
                                class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                                <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                                <button type="submit" class="newsletter_button">subscribe</button>
                            </form>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>