<!-- Home -->

<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a routerLink='/home'>Home</a></li>
                            <li>E-Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Courses -->

<div class="courses">
    <div class="container">
        <div class="row">

            <!-- Courses Main Content -->
            <div class="col-lg-12">

                <div class="courses_search_container">
                    <div id="courses_search_form"
                        class="courses_search_form d-flex flex-row align-items-center justify-content-start">
                        <input type="search" [(ngModel)]="searchText" class="courses_search_input" placeholder="Search Courses"
                            required="required">
                        <select (change)="filterCourses($event)" [(ngModel)]="searchTextEl" id="courses_search_select" class="courses_search_select courses_search_input">
                            <option value="" selected>All Categories</option>
                            <option *ngFor='let shop of eShop' [ngValue]="shop.asset_name">{{shop.asset_name}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="courses_container">
                    <div class="row courses_row">

                        <!-- Course -->
                        <div class="col-lg-4 course_col" *ngFor='let shop of eShop | filter:searchText | filter: searchTextEl'>
                            <div class="course" (click)="productDetail(shop)">
                                <div class="course_image">
                                    <img src="../../../assets/images/course_4.jpg" alt="" *ngIf="shop.logo == null">
                                    <img [src]="imageUrl + shop.logo" alt="" *ngIf="shop.logo != null">

                                </div>
                                <div class="course_body p-1">
                                    <div class="row">
                                        <div class="course-body-title col-12">
                                            <h3 class="course_title"><a>{{shop.asset_name}}</a></h3>
                                            <div class="course_teacher">{{shop.course_name}}</div>
                                            <div *ngIf='!shop.summary' class="course_text">
                                                <p>{{summary | slice:0:80 }}..</p>
                                            </div>
                                            <div *ngIf='shop.summary' class="course_text">
                                                <p>{{ shop.summary | slice:0:80 }}..</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="course-enq-detl-btn row justify-content-around">
                                        <div class="col-4">
                                            <button class="comment_button trans_200">Enquiry</button>
                                        </div>
                                        <div class=" col-4 px-0">
                                            <button class="comment_button trans_200">Details</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter" style="background-image:url(../../../assets/images/newsletter.jpg)">
<!-- <div class="newsletter_background parallax-window" data-parallax="scroll"
    data-image-src="../../../assets/images/newsletter.jpg" ></div> -->
    <div class="container"  >
        <div class="row">
            <div class="col">
                <div
                    class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

                    <!-- Newsletter Content -->
                    <div class="newsletter_content text-lg-left text-center">
                        <div class="newsletter_title">sign up for news and offers</div>
                        <div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer
                        </div>
                    </div>

                    <!-- Newsletter Form -->
                    <div class="newsletter_form_container ml-lg-auto">
                        <form action="#" id="newsletter_form"
                            class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                            <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                            <button type="submit" class="newsletter_button">subscribe</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>